<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Interns Profiles</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <script type="text/javascript" src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
  </head>
  <body>
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <h1 class="brand-title">Interns Profiles</h1>
          <h2 class="brand-tagline">Icalia Labs</h2>
        </div>
      </div>
      <div class="content pure-u-1 pure-u-md-3-4">
        <div>
          <div class="posts">
            <h1 class="content-subhead">Profiles</h1>
            <% @authors.each do |author| %>
                <section class="profile">
                  <header class="profile-header">
                    <img class="profile-avatar" alt="
                        <%= author.author %> img " height="48" width="48" src="img/<%= author.image %>.png">
                    <h2 class="profile-name"> <%= author.author %> </h2>
                    <p class="profile-meta">
                      <a href="#" class="profile-age"> </a>
                      <a class="profile-social profile-github" href="#"> <%= author.git %>  </a>
                      <a class="profile-social profile-twitter" href="#"> <%= author.twitter %> </a>
                    </p>
                  </header>
                  <div class="profile-bio">
                    <h1> <%= author.title %> </h1>
                    <p data-editable>

                      <%= author.description %>
                    </p>
                  </div>
                </section>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
